---
/**
 * ImmersiveWrapper Component
 * Wrapper for transparent sections that reveal the global video background.
 */
---

<div class="relative w-full">
  <div class="relative z-10">
    <slot />
  </div>
</div>
